/* $secondary-color:#5F1C1C; //cambiado*/
/* $highlight-color:#DCC05B; //cambiado*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  color: #f1f2fc;
}

html {
  font-size: 100%;
}

ul[role=list], ol[role=list], li {
  list-style: none;
  list-style-type: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  text-decoration: none;
}

img, picture, svg, video, canvas {
  max-width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: middle;
  font-style: italic;
}

input, button, textarea, select {
  font: inherit;
}

button {
  width: auto;
  overflow: visible;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica-Bold";
  src: url("../fonts/Helvetica-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica-Bold-Oblique";
  src: url("../fonts/Helvetica-BoldOblique.woff") format("woff");
  font-weight: bold;
  font-style: oblique;
}
@font-face {
  font-family: "Helvetica-Oblique";
  src: url("../fonts/Helvetica-Oblique.woff") format("woff");
  font-weight: normal;
  font-style: oblique;
}
@font-face {
  font-family: "Helvetica-Rounded-Bold";
  src: url("../fonts/helvetica-rounded-bold-5871d05ead8de.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica-Light";
  src: url("../fonts/helvetica-light-587ebe5a59211.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Megrath";
  src: url("../fonts/MEGRATH-BF64ec4c3eafd5b.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* $secondary-color:#5F1C1C; //cambiado*/
/* $highlight-color:#DCC05B; //cambiado*/
/* $secondary-color:#5F1C1C; //cambiado*/
/* $highlight-color:#DCC05B; //cambiado*/
.swiper {
  height: 100%;
  max-width: 2000px;
}

.swipper-slide-button::after {
  text-shadow: 0px 0px 30px black;
  font-size: 60px !important;
}

.card-wrapper .swipper-slide-button {
  width: 200px;
  height: 540px;
  opacity: 1;
  color: #D1AD2F;
  font-weight: 900;
  margin: -280px 29svw auto 29svw;
}

.card-wrapper {
  overflow: hidden;
}

@media (max-width: 1000px) {
  .roles-main {
    padding: 2rem 0;
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%), url("../img/2.webp") !important;
  }
  .card-wrapper .swipper-slide-button {
    opacity: 0;
  }
  .card-link {
    max-width: 270px !important;
  }
  .info-card {
    max-width: 400px !important;
  }
  .character-description {
    max-width: 400px !important;
    order: 0;
  }
  .character-items {
    order: 2;
  }
  .character-region {
    order: 1;
  }
  .character-info {
    margin: 0 !important;
    flex-direction: column;
    align-items: center;
  }
  .ch-item > h5, .ch-item > img {
    display: none !important;
  }
  .ch-item:hover .item-popup {
    transform: translateY(0) !important;
    padding: auto;
    background-color: transparent;
    border: none;
    position: relative;
    display: block;
  }
  .ch-item:hover .item-popup hr {
    max-width: 1000px;
    margin: auto;
    margin-bottom: 1rem;
  }
  .ch-item:hover .item-popup h2, .ch-item:hover .item-popup span, .ch-item:hover .item-popup h3 {
    color: #D1AD2F !important;
  }
  .ch-item:hover .item-popup p {
    margin: auto;
    max-width: 1000px;
    font-size: 1rem !important;
  }
  .ch-item:hover .item-popup span {
    font-size: 1rem !important;
  }
  .ch-item-list {
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
  .item-popup {
    display: flex !important;
    flex-direction: column;
    position: relative !important;
    padding: 1.5rem;
    background-color: transparent !important;
    border: transparent !important;
    transform: none !important;
  }
  .item-popup h5 {
    text-wrap: nowrap;
  }
  .item-popup small {
    text-align: start;
  }
  .margen-navbar-2 {
    height: 60px !important;
  }
}
.pagination-margin {
  margin-top: 100px;
  padding-top: 200px;
}

.card-wrapper {
  margin: 0 60px 35px;
}

.card-wrapper .swiper-pagination-bullet {
  height: 7px;
  width: 30px;
  border-radius: 0;
  background: #D1AD2F;
}

.card-list .card-item .card-link {
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 300px;
  border: 1px solid #D1AD2F;
  border-radius: 0;
  overflow: hidden;
}

.card-image {
  aspect-ratio: 9/16;
  -o-object-fit: cover;
     object-fit: cover;
}

.info-card {
  border: 1px solid #D1AD2F;
  max-width: 400px;
  padding: 1.5rem;
  border-radius: 5px;
  background: linear-gradient(#6A2020, black);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.character-description {
  max-width: 600px;
}

.character-info {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.character-info hr {
  max-width: 1000px;
  margin: auto;
  margin-bottom: 1rem;
}
.character-info h2, .character-info span, .character-info h3 {
  color: #D1AD2F;
}
.character-info p {
  margin: auto;
  max-width: 1000px;
}
.character-info span {
  font-size: 1rem;
}

.character-items {
  margin: auto auto 2rem auto;
}
.character-items hr {
  margin: 1rem auto;
}
.character-items img {
  max-width: 100px;
}

.ch-item-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.ch-item {
  max-width: 300px;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.ch-item > h5 {
  margin-top: 0.5rem;
}
.ch-item > img {
  margin-top: 1rem;
}
.ch-item .item-popup {
  display: none;
  transition: 0.3s ease-in-out;
}
.ch-item:hover .item-popup, .ch-item:focus-within .item-popup {
  transform: translateY(-40%);
  padding: 1.5rem;
  background-color: #101A48;
  border: 1px solid #816501;
  position: absolute;
  display: block;
}
.ch-item:hover .item-popup small, .ch-item:focus-within .item-popup small {
  display: block;
  line-height: 1.3;
  color: #f1f2fc;
  font-size: 1.2rem;
}
.ch-item:hover .item-popup span, .ch-item:focus-within .item-popup span {
  font-size: 1rem;
  color: #c6cbff;
}
.ch-item:hover .item-popup hr, .ch-item:focus-within .item-popup hr {
  margin: 0.5rem;
}
.ch-item:hover .item-popup h5, .ch-item:focus-within .item-popup h5 {
  font-weight: 600;
  line-height: 1.4;
  padding: 0.225rem;
}

.item-name {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.item-name div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.item-name svg {
  display: inline;
}
.item-name p {
  margin: 0;
}

.margen-navbar-2 {
  height: 110px;
}

.roles-main {
  padding: 2rem 0;
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 60%, rgb(0, 0, 0) 100%), url("../img/2.webp"); /*CAMBIO - suavizado del degradado + ahora es radial*/
}

.img-carrousel {
  max-width: 300px;
  border: 1px solid #D1AD2F;
}

.carrousel {
  max-width: 800px;
  height: 600px;
  margin: auto;
}

@media (max-width: 1000px) {
  .margen-navbar-2 {
    height: 100px !important;
  }
  .img-carrousel {
    max-width: 200px;
    border: 1px solid #D1AD2F;
  }
  .carrousel {
    height: 400px;
  }
  .carrousel-item {
    gap: 1.5rem !important;
  }
  .item-popup {
    display: none;
  }
}
.carrousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.roles-main {
  padding: 0;
}

#info-1 {
  display: block;
}

#info-2 {
  display: none;
}

#info-3 {
  display: none;
}

#info-4 {
  display: none;
}

.ch-item-list {
  max-width: 1000px;
  margin: auto;
}

.cont-gremio {
  background: linear-gradient(#000 10%, #101A48);
  border: 1px solid #D1AD2F;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  margin: 0 20%;
  max-height: calc(100vh - 160px);
  overflow-y: auto;
  padding: 1rem;
  margin: 0 20%;
}
.cont-gremio > hr {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, #D1AD2F 20%, #D1AD2F 80%, rgba(0, 0, 0, 0) 100%) !important;
}

.header-gremio {
  padding: 1rem;
  border-bottom: 1px solid #D1AD2F;
  display: flex;
}

.barra-busqueda-gremio {
  display: flex;
  justify-content: baseline;
  border-radius: 5px;
  border: solid #D1AD2F 1px;
  padding: 0.225rem;
}
.barra-busqueda-gremio input {
  border-style: none;
  padding: 0.225rem;
}
.barra-busqueda-gremio input::-moz-placeholder {
  color: #f1f2fc;
  opacity: 80%;
}
.barra-busqueda-gremio input::placeholder {
  color: #f1f2fc;
  opacity: 80%;
}
.barra-busqueda-gremio svg {
  color: #D1AD2F;
  cursor: pointer;
}

.gremio {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gremio img {
  background-color: white;
  max-width: 100px;
  height: 100%;
  margin: 0 1rem 0 0;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  order: 0;
}
.gremio button {
  margin: 0.875rem 0.25rem 0 0;
  text-wrap: nowrap;
}

.miembros {
  margin-right: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.miembros-cont > svg {
  margin-right: 0.625rem;
}
.miembros div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.descripcion-gremio {
  order: 1;
}

.info-gremio {
  max-width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.info-gremio p {
  font-size: 1.1rem;
  margin-top: 1rem;
  text-overflow: ellipsis;
}

.foto-gremio {
  border: 2px solid #D1AD2F;
  border-radius: 10px;
  padding: 3px;
}

@media (max-width: 1000px) {
  .gremio {
    margin: 0.1rem 5vw;
    flex-wrap: wrap;
    justify-content: center;
  }
  img {
    order: 0;
  }
  .info-gremio {
    max-width: 100%;
  }
  .descripcion-gremio {
    order: 1;
  }
  .miembros {
    flex-direction: row;
    flex-wrap: wrap;
    order: 2;
    flex-grow: 3;
    justify-content: center;
  }
  .miembros-cont {
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
  }
  .miembros svg {
    margin-right: 0.625rem;
  }
  .miembros div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .miembros p {
    display: inline;
  }
}
form {
  background: linear-gradient(#000 50%, #101A48);
  margin: 0 30vw;
}

input {
  display: block;
  font-size: 1rem;
  font-family: "Helvetica";
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
}

input::-moz-placeholder {
  color: black;
}

input::placeholder {
  color: black;
}

.mapa-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mapa-area {
  position: relative;
  max-width: 42vw;
}
.mapa-area img {
  -o-object-fit: cover;
     object-fit: cover;
}

.mapa-info {
  margin: auto auto auto 2rem;
  max-width: 25vw;
}

.divider-cont {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.divider-cont .map-divider {
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  width: 21vw;
  height: 19vw;
}

.region-tarjeta {
  opacity: 0;
  z-index: 100001;
  top: 15vh;
  left: 20vw;
  position: absolute;
  max-width: 60vw;
  max-height: 70vh;
  border-radius: 5px;
  background: linear-gradient(#6A2020, black);
  border: 1px solid #D1AD2F;
  padding: 2rem;
  display: flex;
}
.region-tarjeta hr {
  margin: 1rem 0 1rem 0;
}
.region-tarjeta > img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 20vw;
}
.region-tarjeta-info {
  margin-left: 2rem;
}

.rti-objeto {
  padding: 0.5rem;
  display: flex;
  justify-content: space-evenly;
}
.rti-objeto img {
  max-width: 80px;
}
.rti-objeto-u {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 8rem;
  text-align: center;
}
.rti-objeto-u h5 {
  margin-top: 0.5rem;
}

.close-btn {
  cursor: pointer;
  right: -10px;
  top: -10px;
  position: absolute;
  padding: 0.25rem;
  border-radius: 50%;
  border: 1px solid #D1AD2F;
  background: #6A2020;
}

.main-event {
  max-width: 50vw !important;
  display: flex;
  flex-direction: column;
  max-width: 40vw;
  margin-left: 10vw;
  margin-top: auto;
}
.main-event h1 {
  line-height: 1.25;
  font-size: 2.5rem;
  color: rgba(209, 173, 47, 0.85);
  text-wrap: wrap;
  max-width: 95%;
}
.main-event h1 b {
  font-size: 7rem;
  opacity: 100% !important;
}

.botones-eventos-main {
  display: flex;
  flex-direction: row !important;
  margin: 1rem 0 2rem 0 !important;
  align-items: start !important;
  gap: 2rem;
}
.botones-eventos-main button {
  margin: auto 0 !important;
  text-wrap: nowrap;
}

.not-found-container {
  margin: 4rem auto auto auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.not-found-container article {
  margin-top: -2rem;
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.not-found-container h1 {
  font-size: 5rem;
  line-height: 1;
}
.not-found-container h3 {
  color: #D1AD2F !important;
  font-size: 2.5rem;
}
.not-found-container button {
  font-size: 2rem !important;
  padding-bottom: 0.075rem;
}
.not-found-container button a {
  color: #D1AD2F;
}
.not-found-container img {
  order: 2;
  max-width: 500px;
  margin-left: -2rem;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url("../img/fondo.jpg");
  background-size: cover;
  background-attachment: fixed;
  text-wrap: balance;
  position: relative;
  min-height: 100vh;
}

h1 {
  font-size: 3.5rem;
  font-family: "Megrath";
  letter-spacing: 1px;
  color: #D1AD2F;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

h2 {
  font-size: 2.5rem;
  font-family: "Megrath";
  letter-spacing: 1px;
}

h3 {
  font-size: 1.75rem;
  font-family: "Megrath";
  letter-spacing: 1px;
}

h4 {
  font-size: 1.5rem;
  font-family: "Megrath";
  letter-spacing: 1px;
}

h5 {
  font-size: 1.1rem;
  font-family: "Helvetica";
  font-weight: normal;
  font-style: normal;
}

p {
  font-size: 1rem;
  font-family: "Helvetica";
  font-weight: normal;
  font-style: normal;
  line-height: 1.4;
}

small {
  font-size: 0.925rem;
  font-family: "Helvetica";
  font-weight: normal;
  font-style: normal;
  color: #c6cbff;
}

b {
  color: #D1AD2F;
}

li {
  font-size: 1.1rem;
  font-family: "Megrath";
  letter-spacing: 1px;
  line-height: 1.6;
}

footer a {
  font-size: 0.925rem;
  font-family: "Helvetica";
  font-weight: normal;
  font-style: normal;
  line-height: 1.6;
}

button {
  font-size: 1.1rem;
  font-family: "Megrath";
  letter-spacing: 1px;
  padding: 0.5rem 0.75rem;
  line-height: 1.6;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 7px;
  color: #D1AD2F;
  border-color: #D1AD2F;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4), inset 0px 0px 15px rgba(0, 0, 0, 0.3);
  transition: 0.2s ease-in-out;
  cursor: pointer;
  margin-top: 1rem;
}

button:hover {
  background: #816501;
  color: #ffd439;
}

button:active {
  transition: 0.1s;
  background: black !important;
  transform: scale(105%);
}

hr {
  margin: 0.5rem 0;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.75) 20%, rgba(255, 255, 255, 0.75) 80%, rgba(0, 0, 0, 0) 100%);
}

.navbar {
  z-index: 100000;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3), inset 0px 0px 10px rgba(0, 0, 0, 0.3);
  position: fixed;
  margin: 1rem 1.5rem;
  padding: 0rem 1rem;
  width: calc(100% - 3rem);
  display: flex;
  align-items: center;
  flex-shrink: 1;
  border-radius: 10px;
  flex: 1 1 auto;
  justify-content: flex-start;
  background-color: rgba(106, 32, 32, 0.8);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.navbar svg {
  fill: #D1AD2F;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}
.navbar svg:hover {
  fill: #ffd439;
}
.navbar li {
  transition: 0.1s ease-in-out;
  white-space: nowrap;
  margin: 0.225rem;
  padding: 0.75rem 1rem;
}
.navbar li a {
  text-decoration: none;
  position: relative;
  color: #D1AD2F;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
  transition: 0.2s ease-in-out;
}
.navbar li a.active::after {
  position: absolute;
  content: "";
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(209, 173, 47, 0.75) 20%, rgba(209, 173, 47, 0.75) 80%, rgba(0, 0, 0, 0) 100%);
  width: 120%;
  height: 1px;
  bottom: 0;
  left: -10%;
}
.navbar li a.active {
  color: #ffd439;
}
.navbar li a:hover {
  color: #ffd439;
}
.navbar li ul.dropdown li {
  display: block;
}
.navbar li ul.dropdown {
  display: none;
  z-index: 999;
  margin-top: 0.6rem;
  margin-left: -20px;
  position: absolute;
  background-color: rgba(106, 32, 32, 0.9);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 7px;
}
.navbar li:hover ul.dropdown {
  display: block;
}
.navbar li.icon {
  display: none;
}
.navbar li.logo {
  border: none;
  margin: 0.225vw 2vw 0.225vw 1vw;
  padding: 0;
  width: 70px;
  height: 100%;
}
.navbar li.logo:hover {
  background-color: transparent;
}

.inicio-registro {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 80vw;
  z-index: 2000000;
  background-color: #6A2020;
  box-shadow: 200px 0px 200px rgba(0, 0, 0, 0.5);
  display: fixed;
  transform: translateX(-100%);
  visibility: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  transition: 0.25s ease-in-out;
}
.sidebar hr {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(209, 173, 47, 0.75) 20%, rgba(209, 173, 47, 0.75) 80%, rgba(0, 0, 0, 0) 100%);
  margin: 1.25rem 0;
}
.sidebar img {
  max-width: 120px;
  align-self: center !important;
  margin: 0 auto;
  display: block;
}
.sidebar span {
  font-size: 1.1rem;
  color: #D1AD2F;
}
.sidebar .dropdown-sidebar-big {
  padding: 0.5rem;
  margin-left: 1rem;
}
.sidebar li {
  padding-right: 1rem;
  margin-top: 1rem;
}
.sidebar li a {
  color: #D1AD2F;
  font-size: 1.5rem;
  line-height: 1;
}
.sidebar li:nth-child(1) {
  position: absolute;
  right: 0;
}

.sidebar.visible {
  transform: translateX(0);
  visibility: visible;
}

.profile-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 80vw;
  z-index: 2000000;
  background-color: #6A2020;
  box-shadow: -200px 0px 200px rgba(0, 0, 0, 0.5);
  display: fixed;
  transform: translateX(100%);
  visibility: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  transition: 0.25s ease-in-out;
}
.profile-sidebar li {
  margin: 0.5rem;
  padding: 0.625rem 0.75rem;
}
.profile-sidebar li a {
  color: #D1AD2F;
}

.profile-sidebar.visible {
  transform: translateX(0);
  visibility: visible;
}

.front-page {
  margin: 0 0.1rem 0.1rem 0.1rem;
  display: flex;
  align-items: flex-end;
  text-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
  min-height: 70vh;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(0, 0, 0) 80%), url("../img/2.webp");
  background-size: cover;
  background-position: 100% 50%;
  border-bottom: 1px solid black;
}
.front-page .front-div {
  display: flex;
  flex-direction: column;
  max-width: 40vw;
  margin-left: 10vw;
  margin-top: auto;
  margin-bottom: 3rem;
}
.front-page .front-div h1 {
  font-size: 6rem;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}
.front-page .front-div p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}
.front-page .front-div button {
  font-size: 3rem;
}
.front-page p {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color: #f1f2fc;
}
.front-page button {
  font-size: 2rem;
  padding: 0.75rem 1.25rem 0.25rem 1.25rem;
  margin: auto;
  margin-left: 0;
  color: #D1AD2F;
  border-color: #D1AD2F;
  cursor: pointer;
  background: linear-gradient(rgba(255, 234, 115, 0.01), rgba(255, 234, 115, 0.1));
}
.front-page button:hover {
  color: #ffd439;
  border-color: #ffd439;
  background: rgba(255, 234, 115, 0.15);
}

.grid-tarjetas-home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.tarjeta {
  margin: 0.1rem;
  text-align: center;
  border: 1px solid #816501;
  background: linear-gradient(#000 50%, #101A48);
}
.tarjeta-home {
  color: #c6cbff;
}
.tarjeta p div:nth-child(1) {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0)), url("../img/2.webp");
  height: 30vh;
  background-size: cover;
  background-position: 100% 50%;
  border-bottom: inset 1px solid black;
}
.tarjeta p div:nth-child(2) {
  padding: 0.75rem 3rem 1.5rem 3rem;
}
.tarjeta p div:nth-child(2) span {
  font-size: 1.25rem;
}
.tarjeta p div:nth-child(2) button {
  margin: 1rem 0.225rem 0 1rem;
}
.tarjeta p div:nth-child(2) > p {
  padding: 0.75rem 5vw 0.75rem 5vw;
}
.tarjeta p h3 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.tarjeta p:nth-child(1) div:nth-child(1) {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0)), url("../img/eventos.webp");
}
.tarjeta p:nth-child(2) div:nth-child(1) {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0)), url("../img/mapa.webp");
}
.tarjeta p:nth-child(3) div:nth-child(1) {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0)), url("../img/personajes.webp");
}
.tarjeta p:nth-child(4) div:nth-child(1) {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0)), url("../img/comunidad.webp");
}

.tarjeta-home {
  margin: 0.1rem;
  text-align: center;
  border: 1px solid #816501;
  background: linear-gradient(#000 50%, #101A48);
}
.tarjeta-home p {
  color: #c6cbff;
}
.tarjeta-home div:nth-child(1) {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0)), url("../img/2.webp");
  height: 30vh;
  background-size: cover;
  background-position: 100% 50%;
  border-bottom: inset 1px solid black;
}
.tarjeta-home div:nth-child(2) {
  padding: 0.75rem 3rem 1.5rem 3rem;
}
.tarjeta-home div:nth-child(2) span {
  font-size: 1.25rem;
}
.tarjeta-home div:nth-child(2) button {
  margin: 1rem 0.225rem 0 1rem;
}
.tarjeta-home div:nth-child(2) > p {
  padding: 0.75rem 5vw 0.75rem 5vw;
}
.tarjeta-home h3 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.tarjeta-home:nth-child(1) div:nth-child(1) {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0)), url("../img/eventos.webp");
}
.tarjeta-home:nth-child(2) div:nth-child(1) {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0)), url("../img/mapa.webp");
}
.tarjeta-home:nth-child(3) div:nth-child(1) {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0)), url("../img/personajes.webp");
}
.tarjeta-home:nth-child(4) div:nth-child(1) {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0)), url("../img/comunidad.webp");
}

footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.footer-margin {
  height: 100px;
  width: 100%;
}

.footer-list {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  color: #D1AD2F;
}

#footer-info {
  margin-bottom: 1rem;
}
#footer-info p, #footer-info small {
  color: #f1f2fc !important;
}

.margen-navbar {
  height: 650px;
}

.page-title {
  text-align: center;
  margin-bottom: 1rem;
}
.page-title span {
  color: #D1AD2F;
  font-size: 2rem;
}

.boton-rojo {
  color: #D1AD2F;
  background: #6A2020;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4), inset 0px 0px 15px rgba(0, 0, 0, 0.3);
  border-color: #D1AD2F;
}

.boton-rojo:hover {
  background: #8b1010;
  color: #ffd439;
  border-color: #ffd439;
}

/* $secondary-color:#5F1C1C; //cambiado*/
/* $highlight-color:#DCC05B; //cambiado*/
@media (max-width: 1000px) {
  p {
    font-size: 1.1rem;
  }
  h1 {
    font-size: 2.75rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1.25rem;
  }
  .front-page {
    height: auto !important;
    background-image: linear-gradient(225deg, rgba(255, 255, 255, 0), rgb(0, 0, 0) 90%), url("../img/2.webp");
  }
  .front-page .front-div {
    max-width: 80vw;
    margin-right: auto;
    margin-left: 1.5rem;
    margin-bottom: 4vh;
    padding-top: 12svh;
  }
  .front-page .front-div h1 {
    font-size: 2.75rem;
  }
  .front-page .front-div button {
    font-size: 1.75rem;
  }
  .navbar {
    justify-content: space-between;
    padding: 0;
  }
  .navbar li:nth-child(-n+8) {
    display: none;
  }
  .navbar .inicio-registro {
    display: none;
  }
  .navbar li:nth-child(1) {
    display: block;
  }
  .navbar li:nth-child(2) {
    display: block;
  }
  .navbar li:nth-child(8) {
    display: block;
  }
  .tarjeta-home div:nth-child(1) {
    height: 20svh;
  }
  .tarjeta-home div:nth-child(2) {
    padding: 0.75rem 1rem 1.5rem 1rem;
  }
  .tarjeta-home div:nth-child(2) h3 {
    font-size: 1.4rem;
    text-align: center;
  }
  .tarjeta-home div:nth-child(2) h3 span {
    font-size: 1rem;
  }
  .tarjeta-home div:nth-child(2) > p {
    padding: 0.75rem 1rem 1.5rem 1rem;
  }
  .grid-tarjetas-home {
    grid-template-columns: 1fr;
  }
  .page-title span {
    color: #D1AD2F;
    font-size: 1.5rem;
  }
  .main-event {
    margin: 5svh auto 0 auto !important;
    justify-content: flex-end;
    max-width: 90vw !important;
    max-height: auto !important;
    min-height: 40svh;
    padding: 1svh;
  }
  .main-event h1 {
    line-height: 1.3;
    font-size: 1.5rem;
    color: rgba(209, 173, 47, 0.85);
  }
  .main-event h1 b {
    font-size: 4rem;
    opacity: 100% !important;
  }
  .main-event p {
    display: none;
  }
  .botones-eventos-main {
    display: flex;
    flex-direction: row !important;
    justify-content: flex-start !important;
    max-width: none !important;
    margin: 0 0 1rem 0 !important;
    gap: 1rem;
  }
  .botones-eventos-main button {
    margin: auto 0;
    font-size: 1.25rem !important;
    line-height: 1.3;
    padding: 0.5rem 0.75rem 0.3rem 0.75rem;
  }
  .botones-eventos-main button:nth-child(2) {
    font-size: 1.1rem !important;
  }
  .mapa-cont {
    flex-direction: column;
  }
  .mapa-area {
    max-width: 100%;
    padding: 1rem;
  }
  .mapa-info {
    max-width: none;
  }
  .divider-cont {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 1rem;
  }
  .divider-cont .map-divider {
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    width: 45vw;
    height: 45vw;
  }
  .region-tarjeta {
    top: 15vh;
    left: 5vw;
    max-width: 85vw;
    max-height: none;
    flex-direction: column;
    align-items: center;
  }
  .region-tarjeta img {
    max-width: 100%;
  }
  .region-tarjeta h2 {
    margin-top: 1.25rem;
  }
  .region-tarjeta h3 {
    text-align: center;
  }
  .region-tarjeta-info {
    margin-left: 0;
  }
  .rti-objeto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .cont-gremio {
    margin: auto 1rem;
  }
  .info-gremio {
    align-items: center;
    flex-direction: column;
  }
  .info-gremio img {
    margin: 1rem auto;
  }
  .descripcion-gremio {
    margin-bottom: 0.5rem;
  }
  .miembros {
    margin-top: 1rem;
  }
  .com {
    margin-top: 40px !important;
    font-size: 2.5rem;
  }
  .not-found-container {
    flex-direction: column;
  }
  .not-found-container article {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .not-found-container h1 {
    margin-top: 1rem;
    font-size: 4rem;
    line-height: 1;
  }
  .not-found-container h3 {
    color: #D1AD2F !important;
    font-size: 1.5rem;
  }
  .not-found-container button {
    font-size: 2rem !important;
    padding-bottom: 0.075rem;
  }
  .not-found-container button a {
    color: #D1AD2F;
  }
  .not-found-container img {
    max-width: 350px;
    margin-left: 0;
  }
  footer {
    width: 80%;
    padding-bottom: 0.5rem;
  }
  .footer-margin {
    height: 8.5rem;
  }
}/*# sourceMappingURL=main.css.map */