
.cont-gremio{
    background:linear-gradient(#000 10%, $background-color);
    border: 1px solid $highlight-color;
    border-radius:7px;
    display:flex;
    flex-direction: column;
    margin: 0 20%;
    &>hr{
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, $highlight-color 20%, $highlight-color 80%, rgba(0, 0, 0, 0) 100%) !important;
    }
    max-height: calc(100vh - 160px); // Ajusta según la altura de header y footer
    overflow-y: auto; // Permite el scroll solo en esta sección
    padding: 1rem;
    margin: 0 20%;
}
.header-gremio{
    padding:1rem;
    border-bottom:1px solid $highlight-color;  
    display:flex; 
}
.barra-busqueda-gremio{
    display:flex;
    justify-content: baseline;
    border-radius:5px;
    border:solid $highlight-color 1px;
    padding:.225rem;
    input{
        border-style: none;
        padding:.225rem;
    }
    input::placeholder{
        color:$text-primary;
        opacity: 80%;
    }
    svg{
        color:$highlight-color;
        cursor:pointer;
    }
}

.gremio{
    padding:1rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    img{
        background-color: white;
        max-width:100px;
        height:100%;
        margin:0 1rem 0 0;
        border-radius:10px;
        object-fit: cover;
        order:0;
    }
    button{
        margin: .875rem .25rem 0 0;
        text-wrap:nowrap;
    }

}
.miembros{
    margin-right:0;
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    &-cont>svg{
        margin-right:.625rem;
    }
    div{
        display:flex;
        flex-direction:row;
        justify-content: center;
        flex-wrap:wrap;
    }
}
.descripcion-gremio{
    order:1;
}
.info-gremio{
    max-width:60%;
    display:flex;
    flex-direction: row;
    align-items:center;
    p{
        @include font-size(p-mobile);
        margin-top:1rem;
        text-overflow: ellipsis;
    }
}
.foto-gremio {
    border: 2px solid $highlight-color;
    border-radius: 10px;
    padding: 3px;
}
@media (max-width:1000px){
    .gremio{
        margin:.1rem 5vw;
        flex-wrap:wrap;
        justify-content: center;
    }
    img{
        order:0;
    }

    .info-gremio{
        max-width:100%;
    }
    .descripcion-gremio{
        order:1;
    }
    .miembros{
        flex-direction:row;
        flex-wrap:wrap;
        order:2;
        flex-grow:3;
        justify-content: center;
        &-cont{
            display:flex;
            flex-direction:row !important;
            justify-content: center;
            align-items: center;
            margin-right:2rem;
        }
        svg{
            margin-right:.625rem;
        }
        div{
            //esto va en un media max width 1000px
            display:flex;
            flex-direction: column;
            justify-content: center;
        }
        p{
            display:inline;
        }
    }

}