.card-container{
    display:flex;
    flex-direction: row;
    margin-right:auto;
    flex-wrap:wrap;
    align-items: flex-start;
    justify-content: center;

}
.card-img{
    border: 1px solid $highlight-color;
    border-radius:7px;
    max-width:400px;
    aspect-ratio:9/16;
    object-fit: cover;
    margin-top:2rem;
}
.card-info{
    display:flex;
    flex-direction: row;
    margin:1rem;
    align-items: flex-start;
    flex-wrap:wrap;
}
.info-card-nojs{
    margin:1rem;
    max-width:500px;
    p{
        margin-top:1rem;
        color:$text-third !important;}  
    hr{
        height:1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, $highlight-color 20%, $highlight-color 80%, rgba(0, 0, 0, 0) 100%);
        width:100%;
    }
}
.card-sandwitch{
    display:flex;
    flex-direction:column;
}
.item-nojs{
    padding:1rem;
    p{
        margin-top:.25rem !important;
    }
}